---
layout: page
title: Research
use-site-title: true
mathjax : true
---

{% include mathjax.html %}
{% include toggle.html %}




<p>
<a href="#" class="scrollUpButton">▲</a>
</p>



<p style='text-align: justify;'>
My research interests center in <b>Mathematical Education </b> and <b> Algebraic Topology </b>. 
</p>

<center>
<figure>
  <img src="/img/me.jpg" alt="Sergio Chaves" />
</figure>
</center>

<div style="text-align: justify;">

<h2 class="toggle-btn" onclick="toggleContent('mathEdu')" ><span class="toggle-indicator"></span> Mathematical Education </h2>

<div class="hidden-content" id="mathEdu">
<p> In construction </p>
</div>

<h2 class="toggle-btn" onclick="toggleContent('algtop')"><span class="toggle-indicator"></span> Algebraic Topology </h2>

<div class="hidden-content" id="algtop">
  <p>I am mainly interested in studying the equivariant cohomology of finite group actions on several spaces, including polyhedral products. My methods integrate and link knowledge from algebraic topology, group cohomology, transformation groups, and toric topology among other areas in mathematics.</p>

  <h3>Future and Current Projects</h3>
  <ul>
    <li>Combinatorial topology of generalized moment angle complexes (J. w/ Doug Ravenel)</li>
    <li>Free and Flat extension pairs in equivariant cohomology.</li>
    <li>Equivariant cohomology for dihedral group actions.</li>
    <li>Combinatorial and topological relations of the canonical action on n-gon polyhedral products</li>
    <li>Topology of Polyhedral products arising from distinguishable simplicial complexes</li>
  </ul>

  <h3>Past Projects</h3>
  <ul> 
    <li>Equivariant formality of Polyhedral products arising from the \(n\)-gon. 2021. (J. w/ Fred Cohen)</li>
    <li>Equivariant cohomology for semi-direct product actions. 2020</li>
    <li>Quotient criterion for syzygies for 2-torus actions. 2020</li> 
  </ul>

  <h3>Relevant Experience</h3>
  <ul>
    <li>University of Rochester Topology group (2021-2023). Seminar organizer (2021-2022).</li>
    <li>Long Term Visitor fellow at the Fields Institute. Toronto.  <a href="http://www.fields.utoronto.ca/activities/19-20/toric">Thematic Program on Toric Topology</a></li>
    <li>Graduate Student Seminar Organizer. University of Western Ontario. 2019</li>
  </ul>
</div>

<!-- Title to toggle the Experience in Data Science content -->
<h2 class="toggle-btn" onclick="toggleContent('experienceList')"><span class="toggle-indicator"></span>Data Science</h2>

<!-- The list to be toggled -->
<ul class="hidden-content" id="experienceList">
  <li>Micromaster in Statistics and Data Science (General track). MITx Online. 2020.</li>
  <li>Certificate <a href="https://www.correlation-one.com/en/data-science-for-all">Correlation-one DataScience4All Program</a>. (2020)</li>
  <li>Participant <a href="https://brainhackwestern.github.io/">Brainhack Western 2019</a> relating mathematics and neuroscience, winning an innovative award for our proposed <a href="/docs/brainwave.pdf">project</a> on <i>How does the brain sound</i>.</li>
</ul>

<!-- Additional content -->

<h4 class="toggle-btn" onclick="toggleContent('documents')"><span class="toggle-indicator"></span> Preprints and written documents worth sharing</h4>

<ul class="hidden-content" id="documents">
  <li><a href="https://arxiv.org/abs/2009.08526">The equivariant cohomology for semidirect product actions.</a> arXiv Preprint, 2021. - Submitted-</li> 
  <li><a href="https://arxiv.org/abs/2009.08530">The quotient criterion in equivariant cohomology for elementary 2-abelian group actions.</a> arXiv Preprint, 2020. - Submitted-</li>
  <li><a href="https://ir.lib.uwo.ca/etd/7049/">Equivariant cohomology for 2-torus actions and torus actions with compatible involutions.</a> Doctoral dissertation, 2020.</li> 
  <li> <a href="/research/docs/sympl.pdf"> Duistermaat's Theorem on cohomologically symplectic spaces. </a> </li>
  <li> <a href="/research/docs/sy.pdf"> Equivariant cohomology: A topological and an algebraic approach.</a> Beamer of a talk  given in Syracuse University </li>
  <li> <a href="/research/docs/project.pdf"> On the automorphism group of Riemann surfaces. </a> </li>
  <li> <a href="/research/docs/main.pdf"> Equivariant cohomology for torus action and a compatible involution. </a> Beamer of a talk  given in Temple University, Phildaelphia. </li> 
  <li> <a href="/research/docs/class_field_theory.pdf"> About The Lyndon-Hochschild-Serre Spectral Sequence. </a> </li>
  <li> <a href="/research/docs/s2overg.pdf"> Computations on Equivariant Cohomology. </a> </li>
  <li> <a href="/research/docs/milnor_k_theory.pdf"> Clifford Algebras and Milnor's Conjecture for n=2. </a></li>
  <li> <a href="/research/docs/newproject.pdf"> Conjugation spaces. </a></li>
  <li> <a href="/research/docs/thesis.pdf"> Cobordism and Group of Homotopy spheres. </a> Master Thesis</li>
  <li> <a href="/research/docs/f_2_.pdf"> Categorical representation of Banach spaces.</a> (In Spanish)</li>
  <li> <a href="/research/docs/fin.pdf"> Glivenko's Theorem for the Model-intuitionistic Logic.</a> (In Spanish)</li>



